name: Cron Test Dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  cron-base:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [macos-latest, ubuntu-latest, windows-latest]
        pre-release-dependencies: ["--prerelease allow", ""]

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Sync dependencies (editable install + tests)
        run: |
          uv sync ${{ matrix.pre-release-dependencies }}

      - name: Run pytest
        run: |
          uv run pytest
